.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
database.yml
doc/
*.swp
*~
.project
.idea
.secret
